body
{
    background-image: url("difficile.jpg");
    background-position: auto;
}
blockquote
{
    text-align: right;
    color: goldenrod;
    font-size: 40px;
}
h1
{
    text-align: center;
    font-size: 60px;
    color: rgba(255, 0, 0, 0.699);
    text-transform: capitalize;
}

.niveaux
{
    background-color: black;
    border-radius: 10px;
    border: 4px #cccccc;
    text-align: left;
    font-size: 30px;
    color: rgb(117, 0, 6);
}
.question
{
    text-align: center;
    font-size: 40px;
    color: rgb(82, 189, 153);
    border-radius: 10px;
    border: 4px #cccccc;

}

#pseudo
{
    font-size: 30px;
    text-align: center;
    color: forestgreen;
}
.button-container
{
    font-size: 200px;
    text-align: center;
    block-size: 400px;
}
.button-container form,
.button-container form div {
    display: inline;
}

.button-container button {
    display: inline;
    vertical-align: middle;
}
#bouton
{
    display: inline-block;
    background-color: rgb(61, 59, 180);
    border-radius: 10px;
    border: 4px #cccccc;
    color: #eeeeee;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    margin: 5px;
}
div
{
    text-align: left;
    font-size: 40px;
    color: rgb(9, 150, 32);
}

/*.tooltip 
{
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}*/
  
.tooltip .tooltiptext 
{
    visibility: hidden;
    width: 300px;
    background-color: rgb(75, 73, 73);
    color: rgb(197, 156, 22);
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}
  
.tooltip:hover .tooltiptext 
{
    visibility: visible;
}