<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>Gamer test</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/main.css') }}">
    </head>
    <body>

        <h1>Gamer test</h1>
        <hr/>
        <p>Test pour voir si vous êtes un vrai "<b>g@m3r</b>"</p>

        
        </form>
        <div class="button-container">
            <!--<form action="/rules" method="post">
                <input id="bouton" type="submit" value="Tips"/>
            </form>-->
            <form action="/question1" method="post" >
                <input id="bouton" type="submit" value="START" />
            </form>

        </div>

    </body>
</html>
