<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta http-equiv="refresh">
        <meta charset="utf-8">
        <title>Gamer test</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/question_difficile.css') }}">
    </head>
    <body>
        <blockquote><b>5/5</b></blockquote>
        <h1>Gamer test</h1>
        <u class="niveaux">Niveau: Difficile</u>
       <hr/> 
        <div class="tooltip">Aide
            <span class="tooltiptext">La NES fait partie de la 3ᴱᴹᴱ génération et on est actuellement à la 9ᴱᴹᴱ</span></div>
        <p class="question" ><strong>La Game Boy fait partie de quelles generations de console ?</strong> </p>
           
        <div class="button-container">
            <form  method="post" action="/win" >
                <input id="bouton" type="submit" value="4ᴱᴹᴱ">
            </form>
            <form  method="post" action="/game_over" >
                <input id="bouton" type="submit" value="1ᴱᴿᴱ">
            </form>
            <form  method="post" action="/game_over" >
                <input id="bouton" type="submit" value="6ᴱᴹᴱ">
            </form>
        </div>
    </body>
</html>