<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta http-equiv="refresh">
        <meta charset="utf-8">
        <title>Gamer test</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/question_facile.css') }}">
    </head>
    <body>
        <blockquote><b>2/5</b></blockquote>
        <h1>Gamer test</h1>
        <u class="niveaux">Niveau: Facile</u>
        <hr/>
        <p class="question"><strong>En quelle année la Super Nintendo est sortie ?</strong></p>
        <div class="button-container">
            <form  method="post" action="/game_over" >
                <input id="bouton" type="submit" value="1995">
            </form>
            <form  method="post" action="/question3" >
                <input id="bouton" type="submit" value="1990">
            </form>
            <form  method="post" action="/game_over" >
                <input id="bouton" type="submit" value="1887">
            </form>
        </div>
        <h6></h6>
    </body>
</html>
