<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta http-equiv="refresh">
        <meta charset="utf-8">
        <title>Gamer test</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/rules.css') }}">
    </head>
    <body>
        <h1>Régle et aide</h1>
        <u></u>
        <hr/>
        <p>seul une réponse est possible</p>
        <p>une fausse réponse et c'est perdue</p>
        <p>les chiffres en or sont : la question actuelle / le nombre de question restante</p>
        <hr>
        <h3>Voici les consoles marquant de chaque génération :</h3>
            <div class="text-container">
                <form>
                    <h4>1ᴱᴿᴱ : Magnavox </h4>
                    <h4>2ᴱᴹᴱ : Atari 2600</h4>
                    <h4>3ᴱᴹᴱ : NES</h4>
                    <h4>4ᴱᴹᴱ : Game Gear</h4>
                </form>
                <form>
                    <h4>5ᴱᴹᴱ : Playstation</h4>
                    <h4>6ᴱᴹᴱ : Xbox</h4>
                    <h4>7ᴱᴹᴱ : Wii</h4>
                    <h4>8ᴱᴹᴱ : Switch</h4>
                </a>
            </div>

    </body>
</html>