/*************************
 *     Polices
 *************************/

@font-face {
    font-family: "Intro rust";
    src: url("../polices/introrustg-base2line-webfont.woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Intro script";
    src: url("../polices/introscriptr-h2base-webfont.woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Intro header";
    src: url("../polices/introheadr-base-webfont.woff");
    font-weight: bolder;
    font-style: normal;
}

/*************************
 *     media queries
 *************************/

@media (max-width: 1300px) {
    body{
        width: 900px;
    }
    .menu{
        width: 900px;
    }
    .menu .categorie {
      width: 150px;
    }
    main{
        width: 900px;
    }
    main section{
        grid-template-columns: 275px 625px;
    }
    main #zone2 {
        grid-template-rows: 700px;
    }
    main #zone2 img {
        width: 620px;
    }
    main #zone3 {
        grid-template-rows: 350px;
    }
}

@media (min-width: 1300px) {
    body{
        width: 1500px;
    }
    .menu{
        width: 1500px;
    }
    .menu .categorie {
      width: 250px;
    }
    main{
        border-left: ridge blue 50px;
        border-right: groove cornflowerblue 50px;
        width: 1200px;
        padding: 100px;
    }
    main section{
        grid-template-columns: 450px 750px;
    }
}

/*************************
 *     élement général
 *************************/

body{
    background-color: lightslategray;
    margin: auto;
    padding-bottom: 5em;
    font-family: "Intro header" ;
}

p{
    opacity: 75%;
    background-color: azure;
    margin: auto;
    box-sizing: border-box;
    text-align: center;

}



/*************************
 *       Banière
 *************************/

.banniere {
    margin: auto;
    padding-top: 30px;
    background-image: url(img/paysage_nordique.jpg);
    background-position: top;
    background-size: cover;
    height: 310px;
    width: 100%;
  }

.banniere h1{
    margin-top: 100px;
    font-size: 60px;
    font-family: "Intro rust";
    color: royalblue;
    text-align: center;
    text-shadow: black 2px 2px;
    
  
}


/*************************
 *  Menu de navigation
 *************************/



.menu {
    z-index: 2;
    position: fixed;
    top: 0px;
    left: auto;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: cornflowerblue;
    
}
.menu .categorie{
    cursor: pointer;
    font-size: 20px;
    float: left;
    color: white;
    text-align: center;
    text-decoration: none;
    height: 44px;
}
.menu .categorie:hover h3{
    color: #303030;
    transition: color 1s ease-in;
}

:target{
    background-color: blue;
       
}

.menu h3,
.menu a {
    width: 100%;
    display: block;
    padding: 5px 5px;
    margin: 0;
    font-size: inherit;
    color: whitesmoke;
    text-decoration: none;    
}

.menu .categorie ul{
    width: 17%;
    display: none;
    position: absolute;
    padding: 0;
    margin: 0;
    list-style: none;
} 
.menu .categorie:hover ul {
    color: #303030;
    transition: color 3s ease-in;
    display: block;
    background-color: lightskyblue;
}
.menu .categorie li{
    border: 2px transparent solid;
}
.menu .categorie li:hover{
    border-color: white;   
    transition: border-color .5s cubic-bezier(.47,0,.74,.71);
    
}

/*************************
 *       Textes   
 *************************/
#slogan{
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    font-style: italic;
    font-weight: bolder;
    font-size: 28px;
}
.text{
    font-size: 28px;
}
.text::first-letter{
    font-weight: bolder;
    font-size: 30px;
    font-family: "Intro script";
    vertical-align: baseline;
}

/*************************
 *       Main  
 *************************/

main section{
    margin-bottom: 50px;
    display: grid;
}
section img{
    margin: auto;
}



/*    Zones    */

#zone1 p{
    width: 80%;
    height: 90%;
}
#zone1 img{
    height: 500px;
    width: 300px;
}

#zone2 p{    
    width: 100%;
    height: 85%;
    order: -1;
}
#zone2 img{
    height: 520px;
    width: 650px;
    border-radius: 80%;
    overflow: hidden;
}

#zone3 p{
    width: 90%;
    height: 90%;
}
#zone3 img{
    width: 100%;
}

/*************************
 *        Source 
 *************************/
.source{
    border-top: 4px solid black;
    font-size: 25px;

}
.source li{
    padding: 3px 25px;
    float: left;
    list-style-position: inside;
}
.source a{
    
    font-size: 25px;
    text-decoration: none;
    color: black;
    
}


